body {
  color: #333;
  font-family: "EB Garamond", serif;
  font-size: 110%;
  max-width: 350px;
  margin: auto;
  padding: 1em;
  padding-bottom: 2em;
}

@media (min-width: 768px) {
  body {
    max-width: 700px;
  }
}

@media (min-width: 1280px) {
  body {
    max-width: 1050px;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 1400px;
  }
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

label {
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:focus {
  border-color: #666;
}

button:not(:disabled):active {
  background-color: #ddd;
}
